body {
    background-color: rgba(20, 20, 20);
    font-weight: bold;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

img {
    width: 35%;
}

.header {
    width: 12%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    margin-bottom: 50px;
}

h4 {
    font-size: 28px;
}

p {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 37px;
}

ul {
    list-style-type: none;
    width: 90%;
}

li {
    font-size: 18px;
    margin-bottom: 18px;
}