html {
    height: 100vh;
}

.body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.display-1,
h3,
.btn,
.nav-link {
    font-weight: bolder;
}

.btn {
    border: 2px solid white;
    color: white;
}

.btn:hover {
    color: black;
    background-color: white;
}

a {
    text-align: center;
}

a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}

.flex {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.hidden {
    display: none;
}

@media only screen and (max-width: 768px) {
    .navbar-collapse {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 70vh;
        align-items: center;
        font-size: 1.5em
    }
    body {
        background-position: center;
    }
    .display-1 {
        font-size: 4em;
    }
}

@media only screen and (min-width: 768px) {
    .display-1 {
        font-size: 5.4em;
    }
}